.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.App-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.App-nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.App-nav-list li {
  margin: 0 15px;
}

.App-nav-list li a {
  text-decoration: none;
  color: #333;
}

.App-search-bar {
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.App-main {
  padding: 20px;
}

.App-categories {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.App-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  width: 150px;
  text-align: center;
}

.App-footer {
  background-color: #282c34;
  color: white;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.App-nav-list hr{
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background: #000000;
}
