.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.App-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.App-nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.App-nav-list li {
  margin: 0 15px;
}

.App-nav-list li a {
  text-decoration: none;
  color: #333;
}

.App-search-bar {
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.App-main {
  padding: 20px;
}

.App-categories {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.App-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  width: 150px;
  text-align: center;
}

.App-footer {
  background-color: #282c34;
  color: white;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.App-nav-list hr {
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background: #000000;
}

.login,
.register {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login h2,
.register h2 {
  margin-bottom: 20px;
}

.login-form,
.register-form {
  display: flex;
  flex-direction: column;
}

.login-field,
.register-field {
  margin-bottom: 15px;
}

.login-field label,
.register-field label {
  margin-bottom: 5px;
  font-weight: bold;
}

.login-input,
.register-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.login-button,
.register-button {
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-button:hover,
.register-button:hover {
  background-color: #0056b3;
}

.register-link {
  margin-top: 20px;
}

.register-link p {
  font-size: 14px;
  color: #333;
}

.register-link a {
  color: #007bff;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}
.logout-button {
  padding: 10px;
  font-size: 16px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.logout-button:hover {
  background-color: #c82333;
}
